.about-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 850px;
    padding: 150px; 
}

.about-text-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

.about-text-bot{
    display: flex;
    flex-direction: row;
}

.about-text-bot-phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.about-text-phone img{
    height: auto;
    width: 300px;
}

.about-text img{
    height: auto;
    width: 400px;
    padding-right: 40px;
}

h3{
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
}

h4{
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
}

