.side-drawer{
    height: 100vh;
    background-color: #FFFF2B;
    top: 0;
    left: 100%;
    position: fixed;
    z-index: 40;
    width:100%;
    max-width: 500px;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
}

.side-drawer.open{
    transform: translateX(-40%);
}

.side-drawer li{
    margin: 0.7rem 0;
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
}

.side-drawer a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #ffff;
}